{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/stylistic"
  ],
  "parserOptions": {
    "sourceType": "module",
    "project": [ "tsconfig.json" ]
  },
  "env": {
    "node": true
  },
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "always"
    }],
    "one-var": ["error", "never"],
    "padded-blocks": ["error", "never"],
    "no-trailing-spaces": ["error", {
      "skipBlankLines": true,
      "ignoreComments": true
    }],
    "semi": ["error", "always"],
    "prefer-destructuring": ["error", {
      "VariableDeclarator": {
        "object": true,
        "array": false
      },
      "AssignmentExpression": {
        "object": false,
        "array": false
      }
    }],
    "quote-props": ["error", "as-needed"],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "quotes": ["error", "single"],
    "eol-last": ["error", "always"],
    "no-process-env": "error",
    "max-len": ["error", {
      "code": 120,
      "ignoreComments": true,
      "ignoreUrls": true,
      "ignoreStrings": true,
      "ignoreRegExpLiterals": true
    }],
    "curly": "error",
    "new-cap": "error",
    "object-property-newline": ["error", {
      "allowAllPropertiesOnSameLine": true
    }],
    "no-process-exit": "error",
    "array-element-newline": ["error", "consistent"],
    "no-extra-parens": ["error", "all", {
      "conditionalAssign": false,
      "nestedBinaryExpressions": false
    }],
    "array-bracket-newline": ["error", "consistent"],
    "arrow-parens": ["error", "as-needed"],
    "id-length": ["error", {
      "min": 2,
      "exceptions": [ "i", "x" ]
    }],
    "space-infix-ops": ["error"],
    "max-statements": ["error", {
      "max": 60
    }],
    "multiline-ternary": ["error", "always-multiline"],
    "newline-per-chained-call": ["error", {
      "ignoreChainWithDepth": 3
    }],
    "no-plusplus": ["error", {
      "allowForLoopAfterthoughts": true
    }],
    "nonblock-statement-body-position": ["error", "beside"],
    "object-curly-newline": ["error", {
      "consistent": true
    }],
    "object-curly-spacing": ["error", "always"],
    "array-bracket-spacing": ["error", "always"],
    "key-spacing": ["error"],
    "keyword-spacing": ["error"],
    "semi-spacing": ["error"],
    "block-spacing": ["error"],
    "space-in-parens": ["error", "never"],
    "eqeqeq": ["error", "always", {
      "null": "ignore"
    }],
    "@typescript-eslint/array-type": "error",
    "@typescript-eslint/await-thenable": "error",
    "@typescript-eslint/class-literal-property-style": "off", // enabled in "plugin:@typescript-eslint/stylistic"
    "@typescript-eslint/consistent-type-definitions": "off", // enabled in "plugin:@typescript-eslint/stylistic"
    "@typescript-eslint/no-base-to-string": "error",
    "@typescript-eslint/no-confusing-void-expression": ["error", {
      "ignoreArrowShorthand": true
    }],
    "@typescript-eslint/no-for-in-array": "error",
    "@typescript-eslint/no-misused-new": "error",
    "@typescript-eslint/no-mixed-enums": "error",
    "@typescript-eslint/no-redundant-type-constituents": "error",
    "@typescript-eslint/no-unnecessary-qualifier": "error",
    "@typescript-eslint/no-unsafe-enum-comparison": "error",
    "@typescript-eslint/prefer-enum-initializers": "error",
    "@typescript-eslint/prefer-return-this-type": "error",
    "@typescript-eslint/prefer-string-starts-ends-with": "error",
    "@typescript-eslint/require-array-sort-compare": "error",
    "@typescript-eslint/restrict-plus-operands": "error",
    "@typescript-eslint/switch-exhaustiveness-check": "error",

    "@typescript-eslint/no-magic-numbers": ["error", {
      "ignore": [0, 1, 2, -1],
      "ignoreEnums": true,
      "ignoreReadonlyClassProperties": true,
      "ignoreTypeIndexes": true
    }]
  },
  "overrides": [
    {
      "files": ["config.ts", "*.config.ts", "*.test.ts"],
      "rules": {
        "no-process-env": "off"
      }
    },
    {
      "files": ["config.ts", "*.config.ts", "*.test.ts", "*.builder.ts"],
      "rules": {
        "@typescript-eslint/no-magic-numbers": "off"
      }
    }
  ]
}
